<script>
    // Insert Data
    $("#btnsave").click(function(){
     //console.log("Save button Clicked");
     //console.log("Hello we start Ajax");
    output = "";    // khai bao
    let sid = $("#stuid").val(); // add stuid in order to save with existing id not add more id
    let nm = $("#nameid").val();
    let em = $("#emailid").val();
    let pw = $("#passwordid").val();
    if(nm == ""){
     console.log("Please Input Name");
     alert("Please in put Name");
    }else if (em ==""){
     console.log("Please Input Email");
     alert("Please in put Email");
    }else if (pw == ""){
     console.log ("Please Input Password");
     alert("Please in put Password");
    }else {
     //console.log(nm);
     //console.log(em);
    // console.log(pw);
     mydata = {stuid:sid,name:nm, email:em, password:pw};
     
     $.ajax({
      url: "{% url 'save' %}",
      method: "POST",
      data: mydata,
      datatype : 'json',
      success: function(data){
       x=data.student_data;
       console.log(data.status);
      // alert("Yes");
       if(data.status == 'saved'){        //from JsonResponse views
        $("#msg").text("Form Save successfully");
        $("#msg").show();
        //console.log("Form Save successfully");
        //console.log(x);
        //output HTML get from views to html
        for(i=0;i<x.length;i++){
         output +=
          "<tr><td>" +
          x[i].id +
          "</td><td>" +
          x[i].name +
          "</td><td>" +
          x[i].email +
          "</td><td>" +
          x[i].password +
          "</td><td> <input type='button' class='btn btn-info' value='Edit' data-sr-id="+
          x[i].id +
          "> <input type='button' class='btn btn-danger' value='Delete' data-sid="+
          x[i].id +
          ">" ;
          
        }
        $("#tbody").html(output); // display output as HTML
        //alert("Your entries success input display as HTML");
        $("#stuid").val("");
        $("form")[0].reset();
       }
       if(data.status == 0){
       // console.log("Unsave form");
        $("#stuid").val("");
        $("form")[0].reset();
       
       }
      },
     });
    }
    });
     // Delete Data by ID
    $("tbody").on("click",".btn-del",function(){
     console.log("Delete Button Clicked");
     let id= $(this).attr("data-sid");
     console.log(id);
     mydata={sid:id};
     mythis=this;
        $.ajax({
            url: "{% url 'delete' %}",
            method: "POST",
            data: mydata,
            success: function(data){
                console.log(data);
                if (data.status ==1){
                $("#msg").text("data deleted successfully");
                $("#msg").show();
                //console.log("data deleted successfully");
                $(mythis).closest("tr").fadeOut();
                }
                if (data.status ==0){
                console.log("data Undeleted");
                }
            },
        });
    });
    
  // Edit Data by ID
    $("tbody").on("click",".btn-edit",function(){
     console.log("Edit Button Clicked");
     let id= $(this).attr("data-edit-id");
     console.log(id);
     mydata={sid:id};
     mythis=this;
        $.ajax({
            url: "{% url 'edit' %}",
            method: "POST",
            data: mydata,
            datatype: 'json',
            success: function(data){
                //console.log(data);
                $("#stuid").val(data.id); // stuid hidden to get ID
                $("#nameid").val(data.name); //nameid in the form file created
                $("#emailid").val(data.email);
                $("#passwordid").val(data.password); //password in the form file created
                
            },
        });
    });
    
//reset botton
    $("#btnreset").click(function(){
     //console.log("reset botton click");
     $("form")[0].reset();
    });
    


</script>